### 目录忽略 ###
/.gradle/
**/build/
/.settings/
/bin/
BackWeb/logs/
/out/
/target/

*.class
*.classpath
*.project

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.vscode

### JRebel
rebel.xml

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
application-default.*
init-local-database.sh
values_yaml.spec